{% extends 'base.html' %}
{% block content %}
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 ftco-animate">
        <form action="#" class="billing-form">
          <h3 class="mb-4 billing-heading">Add User</h3>
          <div class="row align-items-end">
            <div class="col-md-6">
              <div class="form-group">
                <label for="firstname">Title: </label>
                <input type="text" class="form-control" placeholder="">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="lastname">Text: </label>
                <textarea rows="10" name ="text" class="form-control">

                </textarea>
              </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="lastname">Author: </label>
                  <input type="text" class="form-control" placeholder="">
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="lastname">Photo:</label>
                <input type="file" class="file-path form-control" placeholder="">
              </div>
            </div>
            <p><a href="#"class="btn btn-primary py-3 px-4">Place an order</a></p>
          </div>
        </form><!-- END -->
      </div>
    </div>
  </div>
</section> <!-- .section -->
{% endblock %}